! A colourscheme inspired by Joe Bergantine's Birds of Paradise

! special
*.foreground: #D8D3B0
*.background: #2C1E1E
*.cursorColor: #D8D3B0

! black
*.color0:  #553D25
*.color8:  #996A49

! red
*.color1:  #C33027
*.color9:  #E05F01

! green
*.color2:  #67A289
*.color10: #96D3B9

! yellow
*.color3:  #D28910
*.color11: #EDB54B

! blue
*.color4:  #5B90BF
*.color12: #82B5E7

! magenta
*.color5:  #A97DA6
*.color13: #D0A2CC

! cyan
*.color6:  #267B93
*.color14: #5CA0B0

! white
*.color7:  #D8D3B0
*.color15: #FFFAD6
